<body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Rotten Potatoes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link first-navbar-button" href="#topMovies">Movie List<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link second-navbar-button">Welcome</a>
                </li>
                <li class="nav-item active">
                    <a id="userNameHere" class="nav-link third-navbar-button">UserNameHere</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link fourth-navbar-button" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center mt-5 text-wrap font-weight-bold">
        <div class="row">
            <div class="col-md-12 mainText mb-2">
                <h2>Welcome To</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mainTextStyle mb-5">
                <h1>Rotten Potatoes Movie Rater</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 greyText mb-3">
                <h6>Rate Movies below by inputing a Movie Name, selecting a Genre, and selecting a Rating</h6>
            </div>
        </div>
    </div>

    <div class="container" id="movieLists">
        <div class="row">
            <!-- Movie Input Here -->
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <div class="input-group mb-3 movie-name-input">
                    <input type="text" class="form-control" placeholder="Movie Name" aria-label="Movie Name"
                        id="addMovies">
                </div>
            </div>
            <!-- Movie Genre Here -->
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span id="selectedGenreOne">Movie
                                Genre</span></button>
                        <div id="firstMovieGenre" class="dropdown-menu">
                            {{#each genre}}
                            <a class="dropdown-item" data-id={{id}}>{{genre}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rating Drop Down Here -->
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span id="selectedRatingOne">Movie
                                Rating</span></button>
                        <div id="firstMovieRating" class="dropdown-menu">
                            <a class="dropdown-item oneStar" href="#">1</a>
                            <a class="dropdown-item twoStar" href="#">2</a>
                            <a class="dropdown-item threeStar" href="#">3</a>
                            <a class="dropdown-item fourStar" href="#">4</a>
                            <a class="dropdown-item fiveStar" href="#">5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    {{!-- Save Button here --}}
    <div id="saveButton">
        <div class="col-md-12 text-center mb-5">
            <button type="button" class="btn btn-outline-warning" id="saveOptions">Save</button>
        </div>
    </div>
    {{!-- top movies here --}}
    <div id="topMovies" class="container">
        <div class="row">
            <div class="col-md-12 mainText text-center mt-5 mb-3">
                <h2>Top Movies Per Genre</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <button id="comedyMovies" type="button" class="btn btn-danger">Comedy</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="dramaMovies" type="button" class="btn btn-danger">Drama</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="thrillMovies" type="button" class="btn btn-warning">Horror/Thriller</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="fantMovies" type="button" class="btn btn-warning">SciFi/Fantasy</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="actionMovies" type="button" class="btn btn-danger">Action</button>
            </div>
            <div class="col-md-2 text-center">
                <button id="romanceMovies" type="button" class="btn btn-danger">Romance</button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Movie Name Here</h5>
                        <p class="card-text">Rating: Here (image would come from omdb api?)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>